.search__bar {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__bar a {
  text-decoration: none;
  height: 100%;
  width: 25%;
}

.search__bar input {
  font-family: "Open sans", sans-serif;
  font-size: 0.9em;
  // background-color: rgba(0, 0, 0, 0.048);
  border-bottom: 1px solid black;
  width: 200px;
  // border-radius: 10px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  display: flex;
  justify-content: center;
  text-align: center;
}

