.friend__info__container {
  width: 100vw;
  position: absolute;
  top: 40px;
  left: 0;
  height: 20%;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}


.friend__content__container {
  width: 100vw;
  position: relative;
  top: 223px;
  left: 0;
  height: 100%;
  background-color: white(190, 190, 190);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}


.friend__navbar__container {
  width: 100vw;
  position: absolute;
  top: 25%;
  left: 0;
  height: 40px;
  background-color: white;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.200);
  border-bottom: 1px solid rgba(0, 0, 0, 0.200);
}